// Define variables for your color scheme

// For example:
$red: #EE5F5B;
$blue: #469AE0;
$yellow: #FDB631;
$orange: #E67E22;
$green: #32B796;
$gray: #000000;
$light-gray: #F4F4F4;
$pink: #FF0073;
$dark-green: #4BDD96;
$red-wagon: #D23333;
$gray-wagon: #616668;
$orange-wagon: #da552f;
$gray-lewagon: #E6E6E6;
$other-gray: #999999
